[submodule "lib/front_compiler"]
	path = lib/front_compiler
	url = git://github.com/MadRabbit/frontcompiler.git
[submodule "lib/rightjs_goods"]
	path = lib/rightjs_goods
	url = git://github.com/rightjs/rightjs-goods.git
